.brcontainer{
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.Brpage{
    width: 100vw;
    height: 92vh;
    background-image: linear-gradient( rgb(30, 108, 211),rgb(23, 82, 160)); 
}

.brheading{
    color: #E5E5E5;
    font-size: 5.5vw;
}

.subsectionscon{
    margin-top: 20px;
    gap: 60px;
    display: flex;
    flex-direction: row;
}

.subsection:hover{
    color: white;
}

.subsection{
    font-size: 30px;
    color: #80a7db;
    cursor: pointer;
    padding-bottom: 20px;
}

.brcontainer2{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    gap: 150px;
    display: flex;
    flex-direction: row;
    padding: 100px;
    width: 75vw;
    max-width: 80vw;
}

.lpheading{
    margin-bottom: 40px;
    color: #E5E5E5;
    font-size: 3vw;
}

.rpanel{
    display: flex;
    text-align: center;
    border-radius: 40px;
    font-size: 23px;
    padding: 50px;
    background-color: #80a7db;
    white-space: pre-wrap;
}

.rptext{
    margin: auto;
}